@{
  Layout = "_Layout";
}

@using BakeryTracker.Models

<h2>All orders</h2>

@if (Vendor.AllVendors.Count == 0)
{
  <p>You have no vendors</p>
}

@if (Order.Orders.Count == 0)
{
  <p>You have no orders</p>
}

<table class="table-bordered">
  <th scope="col">Vendor</th>
  <th scope="col">Item(s)</th>
  <th scope="col">Qty</th>
  <th scope="col">Price/Item</th>
  <th scope="col">Date</th>
  <th scope="col">Category</th>
  <th scope="col">Total</th>
@foreach (Vendor vendor in Vendor.AllVendors)
{
  <tr>
    <th rowspan="@(vendor.Orders.Count + 1)"><a href='/vendors/@vendor.Id'>@vendor.Name</a></th>

  @if (vendor.Orders.Count == 0)
  {
    <td colspan="6">No orders</td>
  }
  </tr>

  @foreach (Order order in vendor.Orders)
  {
    <tr>
      <td scope="row">@order.Title.ToUpper()</td> 
      <td>@order.Amount</td> 
      <td>@order.Price.ToString("C2")</td>
      <td>@order.Date</td>
      <td>@order.Type</td>
      <td>@order.Total.ToString("C2")</td>
    </tr>
  }
}
</table>