@{
  Layout = "_Layout";
}
@using BakeryTracker.Models

<h1>Add order for @Model.Name</h1>

<form action='/vendors/@Model.Id/orders' method='post'>
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  
  <label for="item">Item: </label>
  <select name="item" id="item">
    @foreach (string item in Inventory.Pastry.Keys)
    {
      <option value="@item">@item</option>
    }
    @foreach (string item in Inventory.Bread.Keys)
    {
      <option value="@item">@item</option>
    }
  </select>
  <label for="qty">Qty: 
    <input type="number" name="item" id="qty">
  </label>

  <button type="submit">Add Order</button>
</form>